/*
Cascading Style Sheet fot Recipe related windows on PocketChef Desktop app.
*/
/* 
    Created on : 05-ene-2021, 21:05:10
    Author     : Martin Valiente Ainz
*/

.NewRecipeButton
{

    -fx-alignment: CENTER;


    /* Button background style */
    -fx-background-radius : 40;
    -fx-background-color : #fbf6f0;

    /* Button borderd style */
    -fx-border-radius: 40;
    -fx-border-color: black;
    
    /* Opacity will be 0.3 by default */
    -fx-opacity: 1;
}

.NewRecipeButton:hover
{
    /* Button color on hover */
    -fx-background-color : #ffda77;

    /* Opacity set to 1 on hover */
    -fx-opacity: 1;
}

.NewRecipeButton:pressed
{
    /* Button color when pressed */
    -fx-background-color : #ffa45b;

    /* Opacity set to 1 on pressed */
    -fx-opacity: 1;
}

.tableColumn{
	-fx-background-color: #ffa45b;
	-fx-border-bottom-width: 2px;
	-fx-border-color:black;
	-fx-border-collapse: collapse;
}

.tableColumnNum{
	-fx-background-color: #ffa45b;
	-fx-border-bottom-width: 2px;
	-fx-border-color:black;
	-fx-border-collapse: collapse;
        -fx-alignment: center-right;
        
}